/* Styles go here */
#home {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
}

.nav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-left: 20px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  height: 60px;
}

.nav__link:hover,
.is-active {
  color: #00acdc;
}

.is-active::after {
  content: "";
  background: #00acdc;
  position: absolute;
  height: 4px;
  bottom: 0;
  left: 0;
  right: 0;
}
